.intro-container {
  width: 100%;
  max-width: 1325px;     
  margin: 40px auto;     

  padding: 0 20px;       
}

.intro-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #444;
  text-align: center;
}

@media(max-width:1024px){
  .intro-text{
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .intro-text {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  .intro-text {
    font-size: 14px;
    text-align: center;
  }
}